@{
  Layout = "_Layout";
}
@using CoffeeShop.Models;


<div style="width:100%;">

<h1>@Model["thisdrink"].GetName()</h1>
<div style="float:left; width20%;">

<ul>
  @foreach(Inventory item in @Model["inventories"])
  {
  <li>@item.GetItem() </li>
  }
</ul>
</div>
<div style="float:left; width80%;">

<ul>
  @foreach(Ingredient item in @Model["ingredients"])
  {
  <li>@item.GetAmount() units</li>
  }
</ul>
</div>
</div>
<!--
<div class="col-md-6">


  <thead>
  <tr>
      @foreach(Inventory item in @Model["inventories"])
      {
        <tr>
      <th scope="col">@item.GetItem()</th>
    </tr>
      }


</tr>
  </thead>
</table>
</div>
<div class="col-md-6">

  <thead>
  <tr>
    @foreach(Ingredient item in @Model["ingredients"])
    {
      <tr>
    <th scope="col">@item.GetAmount()</th>

    </tr>
    }

</tr>
  </thead>
</table></div> -->
