
@{
  Layout = "_Layout";
}
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

@using CoffeeShop.Models;

<h1>Ingredients</h1>

<form action="/ingredients" method="post">

<label for="drink">Select Drink</label>
<select class="selectDrink" name="drink">
  @foreach (var drinks in @Model["drinks"])
  {
  <option value="@drinks.GetId()">@drinks.GetName()</option>
  }
</select><br>

  <label for="Item">Select Ingredients</label>
  <select class="selectItem" name="item">
    @foreach (var items in @Model["inventories"])
    {
    <option value="@items.GetId()">@items.GetItem()</option>
    }
  </select>

  <label for="amount">Enter amount</label>
  <input id="amount" name="amount" type="number" required><br>

  <br><br>
  <button type="submit">Submit</button>
</form>
