
@{
  Layout = "_Layout";
}

@using CoffeeShop.Models;

<h1>Ingredients</h1>

<form action="/ingredients" method="post">

<label for="drink">Select Drink</label>
<select class="selectDrink" name="drink">
  @foreach (var drinks in @Model["drinks"])
  {
  <option value="@drinks.GetId()">@drinks.GetName()</option>
  }
</select>
<br>

  <label for="Item">Select Ingredients</label>
  <br>
  <div id="allCurrentItems">
    @foreach (var items in @Model["inventories"])
    {
    <div class="item-div-@items.GetId()">
      <select>
        @foreach (var selectItems in @Model["inventories"])
        {
          <option value="@selectItems.GetId()"
          @if (selectItems==items)
          {
            @:selected
          }
          >@selectItems.GetItem()</option>
        }
      </select>
      <label for="amount">Amount</label>
      <input id="amount-@items.GetId()" name="amount-@items.GetId()" type="number" required>
      <button type="button" class="btn btn-danger item-list-btn btn-remove" id="btn-remove-@items.GetId()">-</button>
    </div>
    }
  </div>

<button type="button" class="btn btn-success item-list-btn" id="addMore">+</button>


<script type="text/javascript">

  $(document).ready(function() {
    var newItemId = 500;
    $("#addMore").click(function(event) {
      event.preventDefault();
      newItemId += 1;
      $("#allCurrentItems").append("<div class='new-item-div'><strong>New Ingredient: </strong><input><label for='amount'> Amount </label><input id='amount-" + newItemId + "' name='amount-" + newItemId + "' type='number' required><button type='button' class='btn btn-danger item-list-btn btn-remove'>-</button><br></div>"
      );
    });

      $("#allCurrentItems").on('click', ".btn-remove", function(){
        $(this).parent().remove();
        console.log("hey");
      });

  });
</script>

  <br><br>
  <button type="submit">Submit</button>
</form>
