@{
  Layout = "_Layout";
}
<link href="~/css/order.css" rel="stylesheet" type="text/css" media="all">
@using CoffeeShop.Models;

<h4>Order A Drink:</h4>
<div class="space">
<form action='/order' method='post'>
    @foreach (var drink in @Model["allDrinks"])
    {
      <div class="item">
      <button type="submit" name="drink_id" value="@drink.GetId()" class="btn-lg btn-outline-primary override" >@drink.GetName()</button>
      </div>
    }
    </div>
</form><br>
<h4>Our Stock:</h4>
<ul>
  @foreach(var item in Inventory.GetAll())
  {
    <li>@item.GetItem(): @item.GetItemAmount()</li>
  }
</ul>
