@{
  Layout = "_Layout";
}
@using CoffeeShop.Models;

<h4>Add a drink to this order:</h4>
<form action='/order' method='post'>
  <label for='drink-id'>Select a drink:</label>
  <select id='drink-id' name='drink_id' type='text'>
    @foreach (var drink in @Model["allDrinks"])
    {
      <option value='@drink.GetId()'>@drink.GetName()</option>
    }
  </select>
  <button type="submit">Add</button>
</form>

<ul>
  @foreach(var item in Inventory.GetAll())
  {
    <li>@item.GetItem(): @item.GetItemAmount()</li>
  }
</ul>
